.postkit-blocks-input-control {
	margin: 16px 0;
	button {
		background: none;
		cursor: pointer;
		border: none;
		margin: 0;
		padding: 0;
	}
	.dashicon {
		font-size: 12px;
		line-height: 20px;
	}
	.postkit-blocks-res-btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
	}

	.control-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
		.input-label {
			display: flex;
			gap: 8px;
			align-items: center;
			.label {
				font-size: 11px;
				font-weight: 500;
				line-height: 1;
				text-transform: uppercase;
				display: inline-block;
				margin: 0;
				padding: 0px;
			}
			.single-res-btn {
				svg {
					width: 8px;
					height: 8px;
					display: block;
				}
				&.active svg {
					fill: #2271b1;
				}
			}
		}
		.input-units {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 4px;
			.single-unit {
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 700;
				&.active {
					color: #2271b1;
				}
			}
		}
	}
}
